@layer components {
    .divider {
        text-align: center;
        margin: 20px 0;
        color: #95a5a6;
        font-size: 14px;
    }

    .divider::before,
    .divider::after {
        content: '';
        display: inline-block;
        width: 40%;
        height: 1px;
        background: #ecf0f1;
        vertical-align: middle;
        margin: 0 10px;
    }
}
