@layer components {
.grid {
        display: grid;
        gap: 20px;
        margin-bottom: 30px;
    }

    .grid.cols-2 {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .grid.cols-3 {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
